<app-page-header></app-page-header>

<mat-card>
  <mat-card-header>
    <mat-card-title>Autocomplete Examples</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>You have received a file called "cat-picture.jpeg".</p>
    <button mat-raised-button (click)="openBottomSheet()">Open file</button>
    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components
      <a href="https://material.angular.io/components/bottom-sheet/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>