<app-page-header></app-page-header>

<mat-card>
  <mat-card-header>
    <mat-card-title>Basic toolbar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Multi-row toolbar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false"
          aria-label="Example user verified icon">verified_user</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components <a
        href="https://material.angular.io/components/toolbar/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>