<app-page-header></app-page-header>

<mat-card>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</mat-card>
<div class="alert alert-primary m-t-16">
  If you want more examples please visit angular material design components <a
    href="https://material.angular.io/components/divider/examples" target="_blank">here</a>
</div>