<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{ dialogTitle }}
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="form-field-full" [formGroup]="laundryServiceForm">
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Room Number</mat-label>
            <input matInput formControlName="roomNumber" required>
            @if (laundryServiceForm.get('roomNumber')?.hasError('required') || laundryServiceForm.get('roomNumber')?.touched) {
              <mat-error
                >
                Room number is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Guest Name</mat-label>
            <input matInput formControlName="guestName" required>
            @if (laundryServiceForm.get('guestName')?.hasError('required') || laundryServiceForm.get('guestName')?.touched) {
              <mat-error
                >
                Guest name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date Received</mat-label>
            <input matInput [matDatepicker]="pickerReceived" formControlName="dateReceived" required>
            <mat-datepicker-toggle matSuffix [for]="pickerReceived"></mat-datepicker-toggle>
            <mat-datepicker #pickerReceived></mat-datepicker>
            @if (laundryServiceForm.get('dateReceived')?.hasError('required') || laundryServiceForm.get('dateReceived')?.touched) {
              <mat-error
                >
                Date received is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date Completed</mat-label>
            <input matInput [matDatepicker]="pickerCompleted" formControlName="dateCompleted">
            <mat-datepicker-toggle matSuffix [for]="pickerCompleted"></mat-datepicker-toggle>
            <mat-datepicker #pickerCompleted></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Service Type</mat-label>
            <mat-select formControlName="serviceType" required>
              <mat-option [value]="'Washing'">Washing</mat-option>
              <mat-option [value]="'Dry Cleaning'">Dry Cleaning</mat-option>
              <mat-option [value]="'Pressing'">Pressing</mat-option>
              <mat-option [value]="'Ironing'">Ironing</mat-option>
            </mat-select>
            @if (laundryServiceForm.get('serviceType')?.hasError('required')) {
              <mat-error>
                Service type is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option [value]="'In Progress'">In Progress</mat-option>
              <mat-option [value]="'Completed'">Completed</mat-option>
              <mat-option [value]="'Cancelled'">Cancelled</mat-option>
            </mat-select>
            @if (laundryServiceForm.get('status')?.hasError('required')) {
              <mat-error>
                Status is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" type="number" required>
            @if (laundryServiceForm.get('quantity')?.hasError('required') || laundryServiceForm.get('quantity')?.touched) {
              <mat-error
                >
                Quantity is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Assigned Employee</mat-label>
            <input matInput formControlName="employeeAssigned" required>
            @if (laundryServiceForm.get('employeeAssigned')?.hasError('required') || laundryServiceForm.get('unitPrice')?.touched) {
              <mat-error
                >
                Assigned Employee is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Total Cost</mat-label>
            <input matInput formControlName="totalCost" type="number" required>
            @if (laundryServiceForm.get('totalCost')?.hasError('required') || laundryServiceForm.get('totalCost')?.touched) {
              <mat-error
                >
                Total cost is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Payment Status</mat-label>
            <mat-select formControlName="paymentStatus" required>
              <mat-option [value]="'Paid'">Paid</mat-option>
              <mat-option [value]="'Pending'">Pending</mat-option>
            </mat-select>
            @if (laundryServiceForm.get('paymentStatus')?.hasError('required')) {
              <mat-error>
                Payment is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Special Instructions</mat-label>
            <textarea matInput formControlName="specialInstructions" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!laundryServiceForm.valid" (click)="submit()">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1" type="button">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>