<app-page-header></app-page-header>
<mat-card>
  <mat-card-header>
    <mat-card-title>Progress Bar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4>Survey progress (Determinate progress bar)</h4>
      <mat-progress-bar mode="determinate" [value]="surveyProgress" color="primary" aria-label="Survey progress">
      </mat-progress-bar>
    </section>
    <section>
      <h4>Video progress (Progress bar with buffer)</h4>
      <mat-progress-bar [value]="videoPlayValue" [bufferValue]="videoBufferValue" mode="buffer" color="primary"
        aria-label="Video progress">
      </mat-progress-bar>
    </section>
    <section>
      <h4>Loading content progress (Indeterminate progress bar)</h4>
      <mat-progress-bar mode="indeterminate" color="warn" aria-label="Loading content">
      </mat-progress-bar>
    </section>
    <section>
      <h4>Search progress (Query progress bar)</h4>
      <mat-progress-bar mode="query" color="accent" aria-label="Searching"></mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Progress bar configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <label class="example-margin">Color:</label>
      <mat-radio-group [(ngModel)]="color">
        <mat-radio-button class="example-margin" value="primary">
          Primary
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="accent">
          Accent
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="warn">
          Warn
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="example-section">
      <label class="example-margin">Mode:</label>
      <mat-radio-group [(ngModel)]="mode">
        <mat-radio-button class="example-margin" value="determinate">
          Determinate
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="indeterminate">
          Indeterminate
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="buffer">
          Buffer
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="query">
          Query
        </mat-radio-button>
      </mat-radio-group>
    </section>
    @if (mode === 'determinate' || mode === 'buffer') {
    <section class="example-section">
      <label class="example-margin">Progress:</label>
      <mat-slider class="example-margin">
        <input type="range" [(ngModel)]="value" matSliderThumb>
      </mat-slider>
    </section>
    }
    @if (mode === 'buffer') {
    <section class="example-section">
      <label class="example-margin">Buffer:</label>
      <mat-slider class="example-margin">
        <input type="range" [(ngModel)]="bufferValue" matSliderThumb>
      </mat-slider>
    </section>
    }
    <h2 class="example-h2">Result</h2>
    <section class="example-section">
      <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
<div class="alert alert-primary m-t-16">
  If you want more examples please visit angular material design components <a
    href="https://material.angular.io/components/progress-bar/examples" target="_blank">here</a>
</div>