<app-page-header></app-page-header>
<div class="col-sm-12">
    <div class="profileStyles">
        <div class="profile-page p-0">
            <div class="profile-header">
                <div class="cover-container">
                    <img src="assets/images/profile-bg.jpg" alt="profile-bg" class="bg-image">
                    <ul class="header-nav d-flex ">
                        <li class="m-8">
                            <button mat-mini-fab color="primary">
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                            </button>
                        </li>
                        <li class="m-8">
                            <button mat-mini-fab color="warn">
                                <mat-icon class="material-icons-outlined">settings</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="profile-info">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div class="user-detail">
                                <div class="d-flex align-items-center">
                                    <div class="profile-img">
                                        <img src="assets/images/avatars/avatar-3.jpg" alt="profile-img" />
                                    </div>
                                    <div class="m-l-16 m-r-16">
                                        <div class="f-s-22 f-w-500">Cara Stevens</div>
                                        <div class="text-muted f-s-14">Web designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="social-info">
                                <ul class="d-flex align-items-center p-0 m-0 float-end">
                                    <li class="post">
                                        <h3 class="f-w-500">Posts</h3>
                                        <p class="p-t-8 text-muted">560</p>
                                    </li>
                                    <li class="post">
                                        <h3 class="f-w-500">Followers</h3>
                                        <p class="p-t-8 text-muted">458</p>
                                    </li>
                                    <li class="post">
                                        <h3 class="f-w-500">Following</h3>
                                        <p class="p-t-8 text-muted">289</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <mat-card>
            <div class="aboutMeCard">
                <div class="card-header">
                    <div class="card-header-inner">
                        <div class="d-flex">
                            <div class="f-w-500 f-s-18">About Me</div>
                        </div>
                    </div>
                </div>
                <div class="card-body m-b-16">
                    <div class="m-t-4"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br><br> when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.
                    </div>
                    <hr>
                    <div class="d-flex flex-col m-t-16">
                        <div class="d-flex">
                            <mat-icon class="material-icons-outlined text-dark-grey f-s-20">place</mat-icon>
                            <span class="m-l-8 m-r-8">Ahmedabad, India</span>
                        </div>
                        <div class="d-flex m-t-12"> <mat-icon
                                class="material-icons-outlined text-dark-grey f-s-20">alternate_email</mat-icon>
                            <span class="m-l-8 m-r-8">examplemail&#64;test.com</span>
                        </div>
                        <div class="d-flex m-t-12"> <mat-icon
                                class="material-icons-outlined text-dark-grey f-s-20">work_outline</mat-icon>
                            <span class="m-l-8 m-r-8">Software Engineer</span>
                        </div>
                        <div class="d-flex m-t-12"> <mat-icon
                                class="material-icons-outlined text-dark-grey f-s-20">cake</mat-icon>
                            <span class="m-l-8 m-r-8">12,March,1988</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="aboutMeCard">
                <div class="card-header">
                    <div class="card-header-inner">
                        <div class="d-flex">
                            <div class="f-w-500 f-s-18">Photos</div>
                        </div>
                    </div>
                    <div class="icons2">
                        <i class="material-icons-outlined icon text-dark-grey f-s-24">add</i>
                    </div>
                </div>
                <div class="card-body m-b-16">
                    <ul class="profile-img-gallery d-flex flex-wrap p-0 m-0">
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/1.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/2.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/3.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/4.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/5.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/6.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/7.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/8.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                        <li class="col-md-4 col-6 m-b-8"><a href="javascript:void();"><img
                                    src="assets/images/gallery/9.jpg" alt="gallery-image" class="r-4 w-full"></a></li>
                    </ul>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="aboutMeCard">
                <div class="card-header">
                    <div class="card-header-inner">
                        <div class="d-flex">
                            <div class="f-w-500 f-s-18">Friends - 287</div>
                        </div>
                    </div>

                </div>
                <div class="card-body m-b-16">
                    <div class="friendsGroup">
                        <div class="userOnlines">
                            <ul class="profile-img-gallery d-flex flex-wrap p-0 m-0">
                                <li class="col-md-4 col-6 m-b-8"><img src="assets/images/avatars/avatar-1.jpg"
                                        alt="gallery-image" class="r-8 w-full">
                                    <div class="css-142zhr7">
                                        <p class="userName">Tilda Lyons</p>
                                    </div>
                                    <span class="online-dot bg-pink-400"></span>
                                </li>
                                <li class="col-md-4 col-6 m-b-8"><img src="assets/images/avatars/avatar-5.jpg"
                                        alt="gallery-image" class="r-8 w-full">
                                    <div class="css-142zhr7">
                                        <p class="userName">Justin Morrison</p>
                                    </div>
                                    <span class="online-dot bg-green-400"></span>
                                </li>
                                <li class="col-md-4 col-6 m-b-8"><img src="assets/images/avatars/avatar-4.jpg"
                                        alt="gallery-image" class="r-8 w-full">
                                    <div class="css-142zhr7">
                                        <p class="userName">Nina Pearce</p>
                                    </div>
                                    <span class="online-dot bg-yellow-400"></span>
                                </li>
                                <li class="col-md-4 col-6 m-b-8"><img src="assets/images/avatars/avatar-3.jpg"
                                        alt="gallery-image" class="r-8 w-full">
                                    <div class="css-142zhr7">
                                        <p class="userName">Mark Romero</p>
                                    </div>
                                    <span class="online-dot bg-green-400"></span>
                                </li>
                                <li class="col-md-4 col-6 m-b-8"><img src="assets/images/avatars/avatar-2.jpg"
                                        alt="gallery-image" class="r-8 w-full">
                                    <div class="css-142zhr7">
                                        <p class="userName">Lauro Gelli</p>
                                    </div>
                                    <span class="online-dot bg-pink-400"></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-8">
        <mat-card>
            <mat-card-content>
                <div class="postCard">
                    <div class="row">
                        <img class="profile-pic" src="assets/images/avatars/avatar-7.jpg" alt="image">
                        <div class="userDetails">
                            <p class="userName">Jacob Ryan</p>
                            <select name="privacy" class="postType">
                                <option>Public post</option>
                                <option>Private post</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <textarea class="text-muted m-b-16" placeholder="Hi John, How are you today?"></textarea>
                    </div>
                    <div class="row">
                        <i class="material-icons icon text-dark-grey m-r-16">person_2</i>
                        <i class="material-icons icon text-dark-grey m-r-16">place</i>
                        <i class="material-icons icon text-dark-grey m-r-16">image</i>
                        <i class="material-icons icon text-dark-grey m-r-16">more_horiz</i>
                        <button mat-raised-button color="primary" class="postBtn">Post</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div class="profilePostHeader w-full">
                    <div class="d-flex">
                        <img class="profile-pic" src="assets/images/avatars/avatar-4.jpg" alt="image">
                        <div class="userDetails">
                            <p class="userName">Sarah Smith</p>
                            <p class="postTime">
                                15 minutes ago
                            </p>
                        </div>
                        <div class="headerIcon">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon class="text-dark-grey cursor-pointer f-s-24">more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">share</mat-icon>
                                    <span>Share Post</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">delete_outline</mat-icon>
                                    <span>Delete</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">visibility_off</mat-icon>
                                    <span>Hide Post</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="profilePostContent">
                    <p class="m-b-24">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Accusamus minima delectus nemo unde quae recusandae assumenda.</p>
                    <img src="assets/images/gallery/10.jpg" alt="" class="w-full">
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button> <mat-icon class="text-red">favorite</mat-icon>Like</button>
                <button mat-button> <mat-icon
                        class="material-icons-outlined text-indigo">mark_chat_unread</mat-icon>Comments</button>
                <button mat-button> <mat-icon class="text-dark-grey">share</mat-icon>Share</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div class="profilePostHeader w-full">
                    <div class="d-flex">
                        <img class="profile-pic" src="assets/images/avatars/avatar-3.jpg" alt="image">
                        <div class="userDetails">
                            <p class="userName">Pooja Sharma</p>
                            <p class="postTime">
                                47 minutes ago
                            </p>
                        </div>
                        <div class="m-l-auto">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon class="text-dark-grey cursor-pointer f-s-24">more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">share</mat-icon>
                                    <span>Share Post</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">delete_outline</mat-icon>
                                    <span>Delete</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon class="text-dark-grey f-s-22">visibility_off</mat-icon>
                                    <span>Hide Post</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="profilePostContent">
                    <p class="m-b-24"> It was originally taken from a Latin text written by a Roman Scholar, Sceptic and
                        Philosopher by
                        the name of Marcus Tullius Cicero, who influenced the Latin language greatly.
                    </p>
                    <p>
                        The "filler" text we know today has been altered over the years (in fact "Lorem" isn't actually
                        a Latin word. It is suggested that the reason that the text starts with "Lorem" is because there
                        was a page break spanning the word "Do-lorem". If you a re looking for a translation of the
                        text, it's meaningless. The original text talks about the pain and love involved in the pursuit
                        of pleasure or something like that.
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button> <mat-icon class="text-red">favorite</mat-icon>Like</button>
                <button mat-button> <mat-icon
                        class="material-icons-outlined text-indigo">mark_chat_unread</mat-icon>Comments</button>
                <button mat-button> <mat-icon class="text-dark-grey">share</mat-icon>Share</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>