<app-page-header></app-page-header>

<mat-card>
  <mat-card-header>
    <mat-card-title>Basic Slide Toggle</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <mat-slide-toggle color="primary" [(ngModel)]="emailToggle">
        Receive email update
      </mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Disabled Slide Toggle </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <mat-slide-toggle color="accent" [disabled]="true" [(ngModel)]="musicToggle">
        Music {{ musicToggle ? "on" : "off" }} (disabled)
      </mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Slide-toggle with forms</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Slide Toggle using a simple NgModel.</p>

    <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{ isChecked }}</mat-slide-toggle>

    <p>Slide Toggle inside of a Template-driven form</p>

    <form class="example-form" #form="ngForm" (ngSubmit)="alertFormValues(form.form)">
      <mat-slide-toggle ngModel name="enableWifi">Enable Wifi</mat-slide-toggle>
      <mat-slide-toggle ngModel name="acceptTerms" required>Accept Terms of Service</mat-slide-toggle>

      <button mat-raised-button type="submit">Save Settings</button>
    </form>

    <p>Slide Toggle inside of a Reactive form</p>

    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="alertFormValues(formGroup)" ngNativeValidate>
      <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle>
      <mat-slide-toggle formControlName="acceptTerms">Accept Terms of Service</mat-slide-toggle>

      <p>Form Group Status: {{ formGroup.status }}</p>

      <button mat-raised-button type="submit">Save Settings</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Configurable slide-toggle</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <section class="example-section">
      <label class="example-margin">Color:</label>
      <mat-radio-group [(ngModel)]="color">
        <mat-radio-button class="example-margin" value="primary">
          Primary
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="accent">
          Accent
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="warn">
          Warn
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>

    <h3 class="example-h2">Result</h3>

    <section class="example-section">
      <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </section>

    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components
      <a href="https://material.angular.io/components/autocomplete/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>