.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  list-style: none;
}

.breadcrumb-item {
  text-transform: capitalize;

  > * {
    vertical-align: middle;
  }

  > a.link {
    color: currentColor;
    font-size: 13px;
    cursor: pointer;
    span {
      font-size: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
      line-height: 1.25rem;
    }

    &:hover {
      color: currentColor;
      text-decoration: underline;
    }
  }

  > .separator {
    width: 10px;
    height: 10px;
    font-size: 10px;
    user-select: none;
    color: #918d8d;
    margin: 0px 2px;
  }
  > .pageText {
    color: #5b5656;
    font-size: 13px;
  }
  .breadcrumb-home {
    height: 20px;
    width: 20px;
  }
}
.dark {
  .breadcrumb-item > .pageText {
    color: #96a2b4;
  }
}
