@use "@angular/material" as mat;

.topmenu {
  position: sticky;
  z-index: 200;
  display: block;
  padding: 8px;

  @include mat.elevation(2);

  .mat-mdc-button-base {
    padding: 0 10px;
    white-space: nowrap;
  }

  // .menu-icon,
  // .menu-caret,
  // .menu-name {
  //   vertical-align: middle;
  // }

  .mat-icon.menu-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    font-size: 18px;
    line-height: 18px;

    [dir="rtl"] & {
      margin-right: auto;
      margin-left: 8px;
    }
  }

  .mat-icon.menu-caret {
    margin-right: -8px;
    position: relative;

    [dir="rtl"] & {
      margin-right: auto;
      margin-left: -8px;
    }
  }

  .menu-icon {
    height: 18px !important;
    width: 18px !important;
    text-align: center;
    color: transparent;
    background: #6e6e6e;
    background-clip: text;
    margin-right: 5px;
    position: relative;

    [dir="rtl"] & {
      margin-right: auto;
      margin-left: 8px;
    }
  }

  .i-feather.menu-caret {
    margin-right: -8px;

    [dir="rtl"] & {
      margin-right: auto;
      margin-left: -8px;
    }
  }

  .menu-label,
  .menu-badge {
    [dir="rtl"] & {
      margin-right: 8px;
      margin-left: auto;
    }
  }

  .menu-badge {
    display: inline-block;
    min-width: 22px;
    padding: 4px;
    margin: 0px 5px;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #757575;
    border-radius: 10px;
  }
  .menu-label {
    display: inline-block;
    min-width: 22px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #757575;
    border-radius: 4px;
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }
}

.topmenu-panel {
  .mat-menu-item {
    .menu-name {
      margin-right: 8px;
      vertical-align: middle;

      [dir="rtl"] & {
        margin-right: auto;
        margin-left: 8px;
      }
    }
  }
}

.topMenuButton {
  .mdc-button__label {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Optional: centers the content horizontally */
  }
}
.dark {
  .topmenu .menu-icon {
    color: transparent;
    background: #ffd5be;
    background-clip: text;
  }
}
