<app-page-header></app-page-header>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field appearance variants</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field with error messages</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        @if (email.invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field with hints</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field hintLabel="Max 10 characters">
          <mat-label>Enter some input</mat-label>
          <input matInput #input maxlength="10" placeholder="Ex. Nougat">
          <mat-hint align="end">{{input.value.length}}/10</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field with label</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="options">
        <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
        <div>
          <label>Float label: </label>
          <mat-radio-group [formControl]="floatLabelControl">
            <mat-radio-button value="auto">Auto</mat-radio-button>
            <mat-radio-button value="always">Always</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="example-form-fields">
          <mat-form-field [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="getFloatLabelValue()">
            <input matInput placeholder="Simple placeholder" required>
          </mat-form-field>
          <mat-form-field [floatLabel]="getFloatLabelValue()">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder">
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="getFloatLabelValue()">
            <mat-select required>
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-label><mat-icon>favorite</mat-icon> <strong> Fancy</strong> <em> label</em></mat-label>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field with prefix & suffix</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Form field theming</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field [color]="colorControl.value!">
      <mat-label>Color</mat-label>
      <mat-select [formControl]="colorControl">
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="warn">Warn</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components <a
        href="https://material.angular.io/components/form-field/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>