<mat-card>
  <mat-card-header>
    <mat-card-title>Booking Average</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="progressCard">
      <ul class="p-0 m-b-0">
        @for (room of bookingData; track room) {
          <li class="m-b-16">
            <div class="row d-flex align-items-center justify-content-between">
              <div class="col-sm-3">
                <p class="m-0">{{ room.name }}</p>
              </div>
              <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-between">
                  <mat-progress-bar [color]="room.color" mode="determinate"
                  [value]="room.progress"></mat-progress-bar>
                  <span class="m-l-8 m-r-8">{{ room.progress }}%</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="userImgGroup">
                  @for (img of room.images; track img) {
                    <a href="#" class="userImg">
                      <img [src]="img" alt="">
                    </a>
                  }
                </div>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  </mat-card-content>
</mat-card>