<app-page-header></app-page-header>
<mat-card>
  <mat-card-header>
    <mat-card-title>Basic checkboxes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-checkbox class="example-margin" color="primary">Check me!</mat-checkbox>
      <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
    </section>
    <section class="example-section">
      <span class="example-list-section">
        <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
          [indeterminate]="someComplete()" (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          @for (subtask of task.subtasks; track subtask) {
          <li>
            <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color" (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>
          }
        </ul>
      </span>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Checkboxes with reactive forms</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section" [formGroup]="toppings">
      <h4>Select your toppings:</h4>
      <p><mat-checkbox formControlName="pepperoni" color="primary">Pepperoni</mat-checkbox></p>
      <p><mat-checkbox formControlName="extracheese" color="primary">Extra Cheese</mat-checkbox></p>
      <p><mat-checkbox formControlName="mushroom" color="primary">Mushroom</mat-checkbox></p>
    </section>
    <section class="example-section" [formGroup]="toppings">
      <h4>You chose:</h4>
      {{toppings.value | json}}
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Standalone checkbox</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <div>
        <mat-checkbox color="primary">Yes, I agree to the terms and conditions</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [disabled]="true">No, I do not agree to the terms and
          conditions</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" color="primary">A partially done task</mat-checkbox>
      </div>
    </section>
    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components <a
        href="https://material.angular.io/components/checkbox/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>