// appointment card
.appointment-card {
  padding: 0px 20px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;

  .total-revenue {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .appointment-amount {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 20px 0px;
  }
  .appointment-details {
    display: flex;
    justify-content: space-between;
    .appointment-item {
      background-color: white;
      border-radius: 8px;
      padding: 10px;
      color: black;
      width: 120px;
      text-align: left;
      &.income {
        background-color: #2472f3;
        text-align: center;
      }
      &.expense {
        background-color: #f27e29;
        text-align: center;
      }
      .amount {
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
      .label {
        font-size: 14px;
        display: block;
        color: white;
      }
    }
  }
}
