<app-page-header></app-page-header>

<mat-card>
  <mat-card-header>
    <div class="table-header-toolbar">
      <div class="row">
        <div class="col-sm-8">
          <span class="table-header">Cab Bookings</span>
          <mat-form-field appearance="outline" class="search-box">
            <mat-label class="search-label">Search...</mat-label>
            <input #filter (keyup)="applyFilter($event)" matInput type="text">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <div class="right-side-btn">
            <button mat-icon-button [hidden]="!selection.hasValue()" (click)="removeSelectedRows()"
              class="tbl-header-btn text-red" matTooltip="Delete">
              <mat-icon>delete_outline</mat-icon>
            </button>

            <app-table-show-hide-column [columnDefinitions]="columnDefinitions"></app-table-show-hide-column>

            <button mat-icon-button (click)="addNew()" class="tbl-header-btn text-green" matTooltip="Add">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="refresh()" class="tbl-header-btn text-dark-grey" matTooltip="Refresh">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="exportExcel()" class="tbl-header-btn text-blue" matTooltip="Xlsx Download">
              <mat-icon class="material-icons-outlined">file_download</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="overflow-auto">
      <div class="responsive_table">
        <div class="table-scroll">
          <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()" color="primary"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'" color="primary">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Columns -->
            @for (column of columnDefinitions; track column) {
            <!-- Skip rendering if column.label is "select" or "action" -->
            @if (column.type === 'check' || column.type === 'actionBtn') {
            <!-- Skip this column -->
            } @else {
            @if (column.type === 'date') {
            <ng-container [matColumnDef]="column.def">
              <mat-header-cell *matHeaderCellDef mat-sort-header> <span class="truncate-text">{{
                  column.label
                  }}</span></mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{ column.label }}:</span> <span class="truncate-text">
                  {{ row[column.def] | date: 'MM/dd/yyyy' }}</span></mat-cell>
            </ng-container>
            } @else {
            <ng-container [matColumnDef]="column.def">
              <mat-header-cell *matHeaderCellDef mat-sort-header> <span class="truncate-text">{{
                  column.label
                  }}</span></mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{ column.label }}:</span> <span class="truncate-text">
                  {{ row[column.def] }}</span></mat-cell>
            </ng-container>
            }
            }
            <!-- For Date Column -->
            <!-- Rest all columns -->
            }

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="editCall(row)"
              [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </table>
        </div>
      </div>
      <!-- Loading spinner -->
      @if (isLoading) {
      <div class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      }
      <!-- context menu start -->
      <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu" #contextMenuTrigger="matMenuTrigger">
      </div>
      <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="item">
          <button mat-menu-item (click)="addNew()">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Add Record</span>
          </button>
          <button mat-menu-item (click)="editCall(item)">
            <mat-icon>edit</mat-icon>
            <span>Edit Record</span>
          </button>
          <button mat-menu-item (click)="deleteItem(item)">
            <mat-icon>delete</mat-icon>
            <span>Delete Record</span>
          </button>
          <button mat-menu-item (click)="refresh()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Record</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>visibility_off</mat-icon>
            <span>Disable</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
            <mat-icon>settings_ethernet</mat-icon>
            <span> Nested Menu</span>
          </button>
        </ng-template>
      </mat-menu>
      <mat-menu #nestedmenu="matMenu">
        <button mat-menu-item>
          <mat-icon>mail_outline</mat-icon>
          <span>Item 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>turned_in_not</mat-icon>
          <span>Item 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>sms</mat-icon>
          <span>Item 3</span>
        </button>
      </mat-menu>
      <!-- Context menu end -->
      @if (isLoading) {
      <div class="no-results" [style.display]="dataSource.data.length === 0 ? '' : 'none'">
        No results
      </div>
      }
      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>