<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        Add Guest
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="form-field-full" [formGroup]="guestForm" (ngSubmit)="onSubmit()">
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            @if (guestForm.get('name')?.hasError('required')) {
              <mat-error>
                Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
            @if (guestForm.get('address')?.hasError('required')) {
              <mat-error>
                Address is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="number" required>
            @if (guestForm.get('phone')?.hasError('required')) {
              <mat-error>
                Phone number is required
              </mat-error>
            }
            @if (guestForm.get('phone')?.hasError('pattern')) {
              <mat-error>
                Invalid phone number
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            @if (guestForm.get('email')?.hasError('required')) {
              <mat-error>
                Email is required
              </mat-error>
            }
            @if (guestForm.get('email')?.hasError('email')) {
              <mat-error>
                Invalid email address
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Check-In Date</mat-label>
            <input matInput formControlName="checkInDate" [matDatepicker]="picker1" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            @if (guestForm.get('checkInDate')?.hasError('required')) {
              <mat-error>
                Check-In Date is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Check-Out Date</mat-label>
            <input matInput formControlName="checkOutDate" [matDatepicker]="picker2" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            @if (guestForm.get('checkOutDate')?.hasError('required')) {
              <mat-error>
                Check-Out Date is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Booking Reference</mat-label>
            <input matInput formControlName="bookingReference">
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Special Requests</mat-label>
            <textarea matInput formControlName="specialRequests"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-24">
        <div class="col-sm-12">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit"
            [disabled]="!guestForm.valid">Save</button>
            <button mat-raised-button color="warn" (click)="closeDialog()" tabindex="-1"
            type="button">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>