<app-page-header></app-page-header>


<mat-card>
  <mat-card-header>
    <mat-card-title>Basic sidenav</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4>Basic sidenav</h4>
      <a mat-raised-button aria-label="View basic sidenav example" color="primary" routerLink="basic">
        View example
      </a>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Left & Right sidenav</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4>Left & Right sidenav</h4>
      <a mat-raised-button aria-label="View dual sidenav example" color="primary" routerLink="dual">
        View example
      </a>
    </section>

    <div class="alert alert-primary m-t-16">
      If you want more examples please visit angular material design components <a
        href="https://material.angular.io/components/sidenav/examples" target="_blank">here</a>
    </div>
  </mat-card-content>
</mat-card>