@use "functions";

// Utility Map

$utilities: () !default;

// Spacing

$spacer: 16px !default;
$spacers: (
  0: 0,
  2: $spacer * 0.125,
  4: $spacer * 0.25,
  8: $spacer * 0.5,
  12: $spacer * 0.75,
  16: $spacer,
  24: $spacer * 1.5,
  32: $spacer * 2,
  48: $spacer * 3,
) !default;
$negative-spacers: functions.negativify-map($spacers) !default;

// Border

$border-color: rgba(0, 0, 0, 0.12) !default;
$borders: (
  0: 0,
  1: 1px solid $border-color,
  2: 2px solid $border-color,
  4: 4px solid $border-color,
  8: 8px solid $border-color,
) !default;

$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  4: 4px,
  8: 8px,
) !default;

$border-styles: solid dashed dotted double hidden none !default;

// Border radius

$radius-base: 4px !default;
$radius: (
  0: 0,
  4: $radius-base,
  8: $radius-base * 2,
  12: $radius-base * 3,
  16: $radius-base * 4,
  full: 9999px,
) !default;

// Text

$font-wieghts: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
) !default;

$font-sizes: (
  0: 0,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  24: 24px,
  26: 26px,
  28: 28px,
  30: 30px,
  32: 32px,
) !default;

// Sizing

$sizes: (
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  75: 75%,
  80: 80%,
  full: 100%,
  auto: auto,
) !default;

// Colors
$colors: (
  "red": #f44336,
  "pink": #e91e63,
  "purple": #6f42c1,
  "indigo": #3f51b5,
  "blue": #2196f3,
  "cyan": #00bcd4,
  "teal": #009688,
  "green": #4caf50,
  "yellow": #ffe821,
  "orange": #fd7e14,
  "deep-orange": #ff5722,
  "brown": #795548,
  "grey": #9e9e9e,
  "dark-grey": #5f6e84,
  "black": #000000,
  "white": #ffffff,
);
